.css-1lpukdo {
  padding: 0px !important;
  background: rgba(128, 128, 128, 0.5) !important;
  border: solid 3px rgba(255, 255, 255, 0.3) !important;
}

.css-fi4tqy {
  padding: 0px !important;
}

.css-q44vsa::before {
  border-bottom: none;
}

.hidden {
  display: none;
}

.imageInput {
  width: 50px;
  text-align-last: center;
  margin: 0px !important;
}

.imageSelectorContainer {
  left: 50%;
  position: fixed;
  top: 10px;
}

.imageToggle {
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 3px;
  margin: 2px 0px;
  align-items: center;
}

.layerIcon {
  padding-left: 0px;
}

.layerLabelCommon {
  margin-right: 5px;
}

.layersUIGroup {
  margin-left: 0px;
  width: 100%;
  max-width: inherit;
}

.MuiDrawer-paper {
  top: 35px !important;
  max-width: 400px;
}

.progress {
  color: white;
  font-size: 200%;
  height: 100vh;
  width: 100vw;
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
}

.loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
  animation: spin 2s linear infinite;
  box-sizing: border-box;
  overflow: hidden;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingText {
  position: fixed;
  top: calc(50% + 80px);
  font-size: xx-large;
  color: white;
  text-align: center;
  width: 100%;
  font-style: italic;
}
